.wrapper{
	display: grid;
	grid-template-columns: repeat(10,140px);
	grid-template-rows: auto;
	grid-gap: 10px;
	width:1490px;
}

.header{
	display: grid;
	grid-template-columns: repeat(20,1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-column: 1/11;
	grid-row: 1/10;
}

.logo{
	grid-column:1/7;
	margin: 4px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.main{
	grid-column:7/15;
	margin: 4px;
	padding-top: 20px;
	font-size: 300%;
	text-align: center;
}
.more{
	grid-column:15/20;
	margin: 4px;
	text-align: right;
}


.time{
	display: grid;
	grid-template-columns: 2fr 7fr;
	grid-template-rows: auto;
	grid-column: 1/11;
	grid-row: 10/20;
}

.detail{
	grid-column: 1/3;
	grid-row: 20/75;
}

.map{
	grid-column: 3/9;
	grid-row: 20/75;
}

/* .map img {
    max-width: 100%;
} */
.map mapmap{
	width: auto;
	height: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}


.content{
	margin: 10px;
}


.time_1{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(2,1fr);
}

.today{
	grid-column: 1;
	grid-row: 1;
	text-align: right;
}
.tomor{
	grid-column: 1;
	grid-row: 2;
	text-align: right;
}



.time_2 {
    background: #000000;
    padding: 25px 0 15px 0;
}

.inner-wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}


.timet {
	display: block;
	float:left;
    margin-left: 20px;

    color: #fff;
    font-weight: 600;
    font-size: 16px;
    position: relative;
	line-height: 35px;
	width: 30px;
	height: 30px;
	top: 20px;
    text-align: center;
    z-index: 20;
}

.hover:before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border: solid 1.5px #8f8f8f;
	border-radius: 30px;
    box-sizing: border-box;
}

.clock .scroll {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ea003d;
    border-radius: 30px;
    left: 0;
    top: 20px;
    z-index: 10;
}

.clock .event_time {
	position: absolute;
    width: 5px;
    height: 5px;
    background: #ea003d;
    border-radius: 5px;
    left: 0;
    top: 11px;
    z-index: 10;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
}

.timet > span {
    position: absolute;
	bottom: 40px;
    left: 20%;
    font-size: 14px;
    font-weight: 600;
    color: #999999;
}

#today_btn, #tomor_btn{
	margin: 3px;
	width: 100px;
}

#example{
	width: 110px;
	height:50px;
	margin-top: 20px
}
